/*
 * Copyright (c) 2023 Andreas Sandberg
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>
#include <st/g4/stm32g431c(6-8-b)ux-pinctrl.dtsi>
#include <zephyr/dt-bindings/usb-c/pd.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "FOC STM32G431 Core Board";
	compatible = "st,stm32g431";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		led0 = &led_0;
		mcuboot-button0 = &button_0;
		mcuboot-led0 = &led_0;
		sw0 = &button_0;
		usbc-port0 = &usbc1;
		pwm-motor0 = &pwm_tim2;
		pwm-motor1 = &pwm_tim3;
		encoder-motor0 = &mt6701_motor0;
		encoder-motor1 = &mt6701_motor1;
	};

	leds {
		compatible = "gpio-leds";

		led_0: led0 {
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		button_0: button0 {
			label = "User";
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		button_1: button1 {
			label = "Boot0";
			/* WARNING: PB8 is used as BOOT0 button */
			gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	vbus1: vbus {
		compatible = "zephyr,usb-c-vbus-adc";
		status = "disabled";
		io-channels = <&adc2 12>;
		output-ohms = <10000>;
		full-ohms = <(100000 + 10000)>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		usbc1: usbc-port@1 {
			compatible = "usb-c-connector";
			status = "disabled";
			reg = <1>;
			tcpc = <&ucpd1>;
			vbus = <&vbus1>;
			data-role = "device";
			power-role = "sink";
			sink-pdos = <PDO_FIXED(5000, 100, PDO_FIXED_USB_COMM)>;
		};
	};
};

/* ========================================================================== */
/* SWD / JTAG pins – Reserved by default (PA13, PA14)                        */
/* PA13 = SWDIO, PA14 = SWCLK - automatically reserved for debugging         */
/* ========================================================================== */

&clk_lsi {
	status = "okay";
};

&clk_lse {
	status = "okay";
};

&clk_hsi {
	status = "disabled";
};

&clk_hse {
	status = "okay";
	clock-frequency = <DT_FREQ_M(8)>;
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(144)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&pll {
	status = "okay";
	div-m = <2>;
	mul-n = <72>;
	div-p = <2>;
	div-q = <6>;
	div-r = <2>;
	clocks = <&clk_hse>;
};

&rtc {
	status = "okay";
	clocks = <&rcc STM32_CLOCK(APB1, 10)>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
};

stm32_lp_tick_source: &lptim1 {
	status = "okay";
	clocks = <&rcc STM32_CLOCK(APB1, 31)>,
		 <&rcc STM32_SRC_LSE LPTIM1_SEL(3)>;
};

&iwdg {
	status = "disabled";
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&usb {
	status = "okay";
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";

	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&ucpd1 {
	psc-ucpdclk = <1>;
	hbitclkdiv = <27>;
	pinctrl-0 = <&ucpd1_cc1_pb6 &ucpd1_cc2_pb4>;
	pinctrl-names = "default";
};

/* ========================================================================== */
/* USART2 on PA2 (TX) + PA3 (RX)                                            */
/* ========================================================================== */
&usart2 {
	status = "okay";
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

/* ========================================================================== */
/* Motor 0 – TIM2 high-side only: PA5, PB3, PB10                           */
/* TIM2 configured to trigger ADC2 conversions via TRGO (update event)     */
/* ========================================================================== */
&timers2 {
	status = "okay";
	st,prescaler = <0>;
	st,countermode = <0>;

	pwm_tim2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa5
		             &tim2_ch2_pb3
		             &tim2_ch3_pb10>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};

/ {
	pwm_motor0_dev: pwm-motor0-device {
		compatible = "pwm-leds";
		pwm_motor0_ch1: pwm-motor0-ch1 {
			pwms = <&pwm_tim2 1 50000 PWM_POLARITY_NORMAL>;
		};
		pwm_motor0_ch2: pwm-motor0-ch2 {
			pwms = <&pwm_tim2 2 50000 PWM_POLARITY_NORMAL>;
		};
		pwm_motor0_ch3: pwm-motor0-ch3 {
			pwms = <&pwm_tim2 3 50000 PWM_POLARITY_NORMAL>;
		};
	};
};

/* ========================================================================== */
/* Motor 1 – TIM3 high-side only: PA4, PB0, PB1                            */
/* ========================================================================== */
&timers3 {
	status = "okay";

	pwm_tim3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch2_pa4
		             &tim3_ch3_pb0
		             &tim3_ch4_pb1>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};

/ {
	pwm_motor1_dev: pwm-motor1-device {
		compatible = "pwm-leds";
		pwm_motor1_ch1: pwm-motor1-ch1 {
			pwms = <&pwm_tim3 2 50000 PWM_POLARITY_NORMAL>;
		};
		pwm_motor1_ch2: pwm-motor1-ch2 {
			pwms = <&pwm_tim3 3 50000 PWM_POLARITY_NORMAL>;
		};
		pwm_motor1_ch3: pwm-motor1-ch3 {
			pwms = <&pwm_tim3 4 50000 PWM_POLARITY_NORMAL>;
		};
	};
};

/* ========================================================================== */
/* ADC1 - DISABLED                                                          */
/* ADC2: PA0 (IN1), PA1 (IN2), PA6 (IN3), PA7 (IN4)                        */
/* Triggered by TIM2 TRGO for synchronization with PWM                     */
/* ========================================================================== */
&adc1 {
	status = "disabled";
};

&adc2 {
	status = "okay";
	pinctrl-0 = <&adc2_in1_pa0
	             &adc2_in2_pa1
	             &adc2_in3_pa6
	             &adc2_in4_pa7>;
	pinctrl-names = "default";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
	dmas = <&dmamux1 0 5 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_VERY_HIGH)>;
	dma-names = "dmamux";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 48)>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 48)>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 48)>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 48)>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};
};

/* ========================================================================== */
/* I2C1 on PA15 (SCL) + PB7 (SDA)                                           */
/* ========================================================================== */
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pa15 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <72>;
		height = <40>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <39>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};

	mt6701_motor0: mt6701@6 {
		compatible = "mps,mt6701";
		reg = <0x06>;
		label = "MT6701_MOTOR0";
	};
};

/* ========================================================================== */
/* I2C2 on PC4 (SCL) + PA8 (SDA)                                            */
/* ========================================================================== */
&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pc4 &i2c2_sda_pa8>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	mt6701_motor1: mt6701@6 {
		compatible = "mps,mt6701";
		reg = <0x06>;
		label = "MT6701_MOTOR1";
	};
};

/* ========================================================================== */
/* FDCAN1 on PB8 (RX) + PB9 (TX)                                            */
/* ========================================================================== */
&fdcan1 {
	status = "okay";
	pinctrl-0 = <&fdcan1_rx_pb8 &fdcan1_tx_pb9>;
	pinctrl-names = "default";
	clocks = <&rcc STM32_CLOCK(APB1, 25)>;
	clk-divider = <1>;
	bosch,mram-cfg = <0x0 28 8 18 18 0 8 8>;
};

/* ========================================================================== */
/* Everything else disabled to keep pins free                                */
/* ========================================================================== */
&timers1 { status = "disabled"; };
&timers4 { status = "disabled"; };
&timers8 { status = "disabled"; };
&i2c3   { status = "disabled"; };
&spi1   { status = "disabled"; };
&spi2   { status = "disabled"; };
&spi3   { status = "disabled"; };
